@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  min-height: 100svh;
}

/* HEADER */

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 50px;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.icon {
  margin-left: 20px;
  color: white;
  font-size: 24px;
}

ul li img {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.text {
  justify-content: center;
  color: #b6b6b6;
  transition: color 0.3s;
  cursor: pointer;
}

.text:hover {
  color: white;
}

/* BANNER */
.banner {
  background-image: url("./assets/jd_banner.jfif");
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: center;
}

#main-container {
  margin: 0 auto;
}

#main-container > div {
  flex-direction: column;
  width: 250px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  text-align: left;
  padding: 16px;
  transition: transform 0.3s;
}

.sombra {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #f9f9f9;
}

.img-container {
  width: 100%;
  height: 200px;
  background-color: #f9faff;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.detalles-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nombre {
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
}

.modelo-precio-container {
  display: flex;
  font-size: 15px;
  margin-bottom: 20px;
  gap: 50px;
}

/* FILTROS */

#filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #f25f5c;
  transition: background-color 0.3s;
}

.comprar {
  font-size: 15px;
  background-color: #70c1b3;
  color: white;
}

button:hover {
  background-color: #ffe066;
  color: #50514f;
}

select {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.flex-container .flex-container:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

/* ocultar los filtros */
.filtros.oculto {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.filtro-icon {
  cursor: pointer;
}

.filtro-icon.filtro-activo {
  color: #fae702;
}

/*MENU */

.menu-item {
  display: inline-block;
}

.menu-reduce {
  display: none;
}

.menu-reduce.active ~,
menu-item {
  display: inline-block;
}

/* FOOTER*/

footer{
  background-color: black;
  color: white;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 30px;
}

.negrita{
  font-weight: bold;
}
/* RESPOSNIVE */
@media only screen and (max-width: 1250px) {
  .banner {
    width: auto;
    height: 200px;
  }
}

@media only screen and (max-width: 1050px) {
  .banner {
    width: auto;
    height: 180px;
  }
}

@media only screen and (max-width: 950px) {
  #filtros {
    display: flex;
    flex-direction: column;
  }
  #main-container {
    margin: 0 auto;
  }

  .menu-item {
    display: none;
  }

  .menu-reduce {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .banner {
    width: auto;
    height: 180px;
  }

  ul li.text {
    display: none;
  }

  .menu li.menu-reduce {
    display: block;
  }
}

@media only screen and (max-width: 685px){
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
}
