* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rtc-primary-font);
}

a {
  text-decoration: none;
}

body {
  min-height: 100svh;
}

:root {
  /* FONTS */
  --rtc-primary-font: "Work Sans", sans-serif;

  /* BRANDING COLORS */
  --rtc-color-1: #f9faff;
  --rtc-color-2: #b6b6b6;
  --rtc-color-3: #4a4a4a;
  --rtc-color-4: #003f62;
  --rtc-special-color-1: #a3fcb1;
  --rtc-special-color-2: #fcc3a3;
  --rtc-special-color-3: #a3f7fc;
  --rtc-special-color-4: #fca3a3;
  --rtc-special-color-5: #f5e6ff;
  --rtc-special-color-6: #7be498;
  --rtc-special-color-7: #f7c29b;

  /* BACKGROUND-COLORS */
  --rtc-primary-bg: var(--rtc-color-1);

  /* TEXT-COLORS */
  --rtc-primary-text: var(--rtc-color-3);
  --rtc-secondary-text: var(--rtc-color-4);

  /* BORDER-COLORS */
  --rtc-primary-border: 1px solid var(--rtc-color-2);

  /* BORDER RADIUS */
  --rtc-br: 8px;

  /* SPACINGS */
  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-section: 100px;

  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;

  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
}

/* HEADER */

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--rtc-padding-xs);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: var(--rtc-gap-xl);
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.icon {
  margin-left: 20px;
  color: white;
  font-size: 24px;
  justify-content: right;
}

ul li img {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.text {
  justify-content: center;
  color: var(--rtc-color-2);
  transition: color 0.3s;
  cursor: pointer;
}

.text:hover {
  color: white;
}

/* BANNER */
.banner {
  background-image: url("./assets/jd_banner.jfif");
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: center;
}

#main-container {
  margin: var(--rtc-margin-section) 0px;
}

#main-container > div {
  flex-direction: column;
  width: 250px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: var(--rtc-gap-xl);
  flex-wrap: wrap;
}

.sombra {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.img-container {
  width: 100%;
  height: 200px;
  background-color: var(--rtc-color-1);
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.detalles-container {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-xs);
}

.detalles-container > h4, p{
  text-align: left;
}

.nombre {
  font-weight: bold;
  padding: 10px;
}

.modelo-precio-container {
  display: flex;
  font-size: 15px;
  margin-bottom: 20px;
  gap: 50px;
}

/* FILTROS */

#filtros {
  display: flex; /* Asegura que los filtros están centrados */
  justify-content: center;
  align-items: center;
  padding: var(--rtc-padding-l);
  gap: var(--rtc-gap-s); /* Espaciado entre los elementos */
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none; /* Sin borde para un diseño más limpio */
  cursor: pointer;
  background-color: var(--rtc-special-color-4); /* Botones por defecto con color */
  transition: background-color 0.3s; /* Transición suave al pasar el ratón */
}

.comprar {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  background-color: var(--rtc-special-color-6); /* Color específico para el botón de comprar */
  color: white; /* Texto blanco para resaltar */
}

button:hover {
  background-color: var(--rtc-special-color-2); /* Cambia el color al pasar el ratón */
}

select {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: var(--rtc-primary-border); /* Utiliza el color de borde definido */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

select:focus {
  outline: none; /* Elimina el borde al enfocarse */
  border-color: var(--rtc-color-4); /* Cambia el borde al enfocarse */
}

.flex-container .flex-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: var(--rtc-br);
  transition: transform 0.3s;
}

.flex-container .flex-container:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}